.App {
  text-align: center;
  font-family: arial, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}

button:focus {
  border: lightslategrey solid 3px;
}

.Setup {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: Lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Setup input, button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.Quiz {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Setup, .Quiz, .End h1 {
  color: white;
}

.End {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nextQuestion {
  width: 200px;
}

h3 {
  color: #ffffff;

}